{% extends 'base.html.twig' %}

{% block title %}SurveyQuestion{% endblock %}

{% block body %}
    <h1>SurveyQuestion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ survey_question.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ survey_question.question }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ survey_question.type }}</td>
            </tr>
            <tr>
                <th>Survey</th>
                <td>{{ survey_question.survey }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_survey_question_index') }}">back to list</a>

    <a href="{{ path('admin_survey_question_edit', {'id': survey_question.id}) }}">edit</a>

    {{ include('pages/admin/survey_question/_delete_form.html.twig') }}
{% endblock %}
