{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <a href="{{ path('admin_forum_index') }}">Forums</a>
    <a href="{{ path('admin_job_skill_index') }}">Compétences</a>
    <a href="{{ path('admin_job_activity_index') }}">Activités</a>
    <a href="{{ path('admin_job_index') }}">Métiers</a>
    <a href="{{ path('admin_workshop_index') }}">Workshop</a>
    <a href="{{ path('admin_workshop_sector_index') }}">Secteurs</a>
    <a href="{{ path('admin_company_index') }}">Entreprises</a>
    <a href="{{ path('admin_user_index') }}">Users</a>
    <a href="{{ path('admin_speaker_index') }}">Intervenants</a>
    <a href="{{ path('admin_student_index') }}">Étudiants</a>
    <a href="{{ path('admin_high_school_index') }}">Lycée</a>
    <a href="{{ path('admin_user_index') }}">Utilisateurs</a>
{% endblock %}

